* {
  color: #f3f3f3;
}
.App {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: "Ubuntu" "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;

  animation: bg ease-in-out infinite 60s;
  transition: background ease-in-out 3s;
}
.Clear,
.Clouds,
.Mist,
.Snow,
.Rain,
.Thunderstorm {
  background-size: cover;
  transition: background ease-in-out 3s;
}
.Clear {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(./assets/Clear.jpg);
  background-position: center;
}
.Clouds {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(./assets/Clouds.jpg);
}
.Mist {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(./assets/Mist.jpg);
}
.Rain {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(./assets/Rain.jpg);
}
.Snow {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(./assets/Snow.jpg);
  background-position: center;
}
.Thunderstorm {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url(./assets/Thunderstorm.jpg);
  background-position: center;
}

.Main {
  width: 65vw;
}
.Side {
  width: 35vw;
}

@keyframes bg {
  0% {
    background-size: 100%;
  }
  40% {
    background-size: 104%;
  }
  50% {
    background-size: 105%;
  }
  609% {
    background-size: 104%;
  }
  100% {
    background-size: 100%;
  }
}
